@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}
body{
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background: #c8d0e3;
  position:relative;
}
body::before{
  content: '';
  position: absolute;
  width: 100%;
  background: #FF676D;
  clip-path: inset(47% 0 0 0);
  z-index: -1;
  height: 100%;
}
::selection{
  background:	#FF676D;
  color: #fff;
}
.container{
  max-width: 950px;
  width: 100%;
  overflow: hidden;
  padding: 100px 0;
}
.container-form h1{
    border: 2px solid black; 
    padding: 10px; 
    text-align: center; 
    }
.container .main-card{
  align-content:center;
  width:210%;
  background-image: url('./handcraft.png');
}
#two:checked ~ .main-card{
  margin: left -100px;
}
.container .main-card .cards{
  width: calc(100%/2 - 10px);
  display: flex;
  flex-wrap: wrap;
  margin: 0 10px;
  justify-content:center;
}
.main-card .cards .card{
  width: calc(100% / 3 - 10px);
  background: #fff;
  border-radius: 12px;
  padding: 30px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
  transition: all 0.4s ease;
}
.main-card .cards .card:hover{
  transform: translateY(-15px);
}
.cards .card .content{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
input[type="radio"]{
  display: none;
}
@media (max-width: 768px) {
  .main-card .cards .card{
    margin: 20px 0 10px 0;
    width: calc(100% / 2 - 10px);
  }
}
@media (max-width: 600px) {
  .main-card .cards .card{
    /* margin: 20px 0 10px 0; */
    width: 100%;
  }
}

.o{
  font-family: 'Roboto', sans-serif;
font-family: 'Shadows Into Light', cursive;
font-family: 'Signika', sans-serif;
color:#7f188b;
border: 2px solid black; 
padding: 10px; 
text-align: center; 
text-align:center;
width:auto;
}
.o:hover{
color:black;
}
.b{
font-family: 'Roboto', sans-serif;
font-family: 'Shadows Into Light', cursive;
font-family: 'Signika', sans-serif;
color: black;
margin-left:10px;

border-radius:10px;
line-height:50px;
text-align:center;
width:auto;
}
.b:hover{
color:#02421a;
}

.job a{
    color:#FF676D;
    text-decoration: none;;

}
.job a:hover{
    color:rgb(97, 15, 152);
    text-decoration:underline;
}